@model euro_bet.Models.FixtureViewModel
@{
    ViewData["Title"] = "Fixtures";
}

<!-- breadcrumb begin -->
        <div class="breadcrumb-bettix schedule-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7">
                        <div class="breadcrumb-content">
                            <h2>Fixtures</h2>
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    Fixtures
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->

        <!-- schedule begin -->
        <div class="schedule">
            <div class="container">
                <div class="row">

                    @foreach (Fixture fixture in Model.Fixtures)
                    {
                        <div class="col-xl-6 col-lg-6">
                        <div class="single-match">
                            <div class="part-head">
                                <h5 class="match-title">@fixture.Caption</h5>
                                <span class="match-venue">Venue : @fixture.Venue</span>
                            </div>
                            <div class="part-team">
                                <div class="single-team">
                                    <div class="logo">
                                        <img src="/assets/img/flags/@(fixture.SquadHome.Country.CountryName).png" alt="">
                                    </div>
                                    <span class="team-name">@fixture.SquadHome.Country.CountryName</span>
                                </div>
                                <div class="match-details">
                                    <div class="match-time">
                                        <span class="date"> @fixture.Date.ToString("ddd dd MMM yyyy")</span>
                                        <span class="time">@fixture.Date.ToString("hh:mm tt")</span>
                                    </div>
                                    <span class="versase">vs</span>
                                    <div class="buttons">
                                        <a href="#" class="buy-ticket bet-btn bet-btn-dark-light">Bet</a>
                                    </div>
                                </div>
                                <div class="single-team">
                                    <div class="logo">
                                        <img src="/assets/img/flags/@(fixture.SquadAway.Country.CountryName).png" alt="">
                                    </div>
                                    <span class="team-name">@fixture.SquadAway.Country.CountryName</span>
                                </div>
                            </div>
                            <span class="to-begin-time">
                                Starting on
                            </span>
                            <div class="part-timer timer" data-date="12 Jun 2021 12:00:00 GMT+01:00">
                                <div class="single-time">
                                    <span class="number day">01</span>
                                    <span class="title">Days</span>
                                </div>
                                <div class="single-time">
                                    <span class="number hour">24</span>
                                    <span class="title">Hours</span>
                                </div>
                                <div class="single-time">
                                    <span class="number minute">48</span>
                                    <span class="title">Minutes</span>
                                </div>
                                <div class="single-time">
                                    <span class="number second">11</span>
                                    <span class="title">Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    
                </div>
                <div class="bettix-pagination">
                    <ul>
                        <li>
                            <a href="#" class="active">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- schedule end -->